:host {
  display: block;
}

.review {
  background: white;
  border-radius: 12px;
  padding: 14px;
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;

}

.review__header {
  display: flex;
  flex-direction: column;
}

.review__user {
  font-weight: 600;
  font-size: 15px;
  color: #111827;
  margin-bottom: 4px;
}

.review__stars {
  display: flex;
  gap: 3px;
}

.star {
  color: #e5e7eb;
  font-size: 16px;
}

.star--active {
  color: #facc15;
}

.review__comment {
  font-size: 14px;
  color: #374151;
  line-height: 1.5;
}

.review__date {
  font-size: 12px;
  color: #9ca3af;
}

@media (max-width: 1024px) {
  .review {
    padding: 12px;
  }

  .review__user {
    font-size: 14px;
  }

  .review__comment {
    font-size: 13px;
  }
}

@media (max-width: 425px) {

  .review {
    padding: 10px;
  }

  .review__user {
    font-size: 13px;
  }

  .review__comment {
    font-size: 13px;
  }

  .review__date {
    font-size: 11px;
  }

  .star {
    font-size: 14px;
  }
}