:host {
  display: block;
}

.registration-wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.registration-form {
  width: 400px;
  background-color: yellow;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
button.btn {
  background-color: black;
  color: white;
  font-weight: 600;
  padding: 10px 0;
  transition: background 0.3s ease, transform 0.2s ease;

  &:hover {
    transform: scale(1.03);
  }

  &:active {
    transform: scale(0.95);
  }
}