.page-layout {
  display: flex;
  gap: 20px;
  min-height: 100vh;
  position: relative;
  align-items: flex-start;
}

.page-content {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 20px;

  .card-item {
    height: 400px;
  }

  @media (max-width: 1439px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
  }

  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
  }
}
