<section class="splide" aria-label="Tech Slider">
    <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev">‹</button>
        <button class="splide__arrow splide__arrow--next">›</button>
    </div>
    <div class="splide__track">
        <ul class="splide__list">
            @for (item of items(); track item) {
            <li class="splide__slide">
                <img [src]="'assets/images/slider-images/' + item + '.jpg'" [alt]="item" />
            </li>
            }
        </ul>
    </div>
</section>
