<div class="page">
  <div class="filters">
    <div class="filter-block">
      <app-skeleton width="90px" height="26px"></app-skeleton>

      <div class="price-inputs">
        <app-skeleton height="44px"></app-skeleton>

        <div class="separator"></div>

        <app-skeleton height="44px"></app-skeleton>
      </div>

      <app-skeleton height="44px" radius="20px"></app-skeleton>
    </div>

    <div class="divider"></div>

    <div class="filter-block">
      <app-skeleton width="100px" height="26px"></app-skeleton>

      <div class="range-values">
        <app-skeleton width="24px" height="18px"></app-skeleton>
      </div>

      <app-skeleton height="48px" radius="20px"></app-skeleton>
    </div>

    <div class="divider"></div>

    <div class="filter-block">
      <app-skeleton width="80px" height="26px"></app-skeleton>

      <div class="checkbox-list">
        @for (item of checkboxes; track $index) {
        <app-skeleton height="18px" width="100%"></app-skeleton>
        }
      </div>
    </div>
  </div>

  <div class="content">
    <div class="breadcrumbs">
      <app-skeleton width="180px" height="18px"></app-skeleton>
    </div>

    <div class="products-header">
      <app-skeleton width="280px" height="56px"></app-skeleton>
      <app-skeleton width="100px" height="56px"></app-skeleton>
    </div>

    <div class="products">
      @for (card of cards; track $index) {
      <div class="card">
        <app-skeleton height="200px" radius="14px"></app-skeleton>
        <app-skeleton height="20px" width="80%"></app-skeleton>
        <app-skeleton height="18px" width="60%"></app-skeleton>
        <app-skeleton height="36px" radius="10px"></app-skeleton>
      </div>
      }
    </div>
  </div>
</div>
