:host {
  display: block;
}

.footer {
  &__top {
    background-color: yellow;
    height: 6px;
  }

  &__bottom {
    background-color: black;
    padding: 30px 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
  }

  &__col {
    color: yellow;
    min-width: 150px;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  &__icons {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 20px;
  }

  &__icon {
    width: 34px;
    height: 34px;
    display: flex;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 8px;
    align-items: center;
    gap: 16px;
    color: blue;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 6px;
    }

    a {
      color: lightyellow;
      text-decoration: none;
      font-size: 14px;

      &:hover {
        color: yellow;
      }
    }
  }
  
  @media (max-width: 576px) {
    .footer__content {
      display: flex;
      flex-wrap: wrap;
      gap: 20px 10px;
    }

    .footer__col {
      width: calc(50% - 10px);
      min-width: 0;
    }

    .footer__title {
      font-size: 14px;
      margin-bottom: 8px;
    }

    .footer__list a {
      font-size: 12px;
    }

    .footer__icons {
      gap: 10px;
      margin-top: 12px;
    }

    .footer__icon {
      width: 26px;
      height: 26px;
    }
  }
}