<footer class="footer">
    <div class="footer__top"></div>

    <div class="footer__bottom">
        <div class="container footer__content">

            <div class="footer__col footer__social">
                <h3 class="footer__title">Ми в соцмережах</h3>
                <div class="footer__icons">
                    <a href="#" class="footer__icon facebook"></a>
                    <a href="#" class="footer__icon instagram"></a>
                    <a href="#" class="footer__icon tiktok"></a>
                </div>
            </div>

            <div class="footer__col">
                <h3 class="footer__title">Інформація</h3>
                <ul class="footer__list">
                    <li><a href="#">Про нас</a></li>
                    <li><a href="#">Контакти</a></li>
                    <li><a href="#">Оплата і доставка</a></li>
                </ul>
            </div>

            <div class="footer__col">
                <h3 class="footer__title">Покупцям</h3>
                <ul class="footer__list">
                    <li><a href="#">Повернення</a></li>
                    <li><a href="#">Гарантія</a></li>
                    <li><a href="#">Акції</a></li>
                </ul>
            </div>

            <div class="footer__col">
                <h3 class="footer__title">Підтримка</h3>
                <ul class="footer__list">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">Співпраця</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>
