<section class="basket container">

    @if (totalCount() === 0) {
    <div class="basket-empty">
        <img src="/assets/images/basket/empty-basket.jpg" alt="Empty basket" />
        <p>Кошик порожній</p>
    </div>
    } @else {

    <div class="basket-list">
        @for (item of items(); track item.id) {
        <div class="basket-card">

            <img [src]="item.image" alt="product" />

            <div class="basket-card__info">
                <h3>{{ item.title }}</h3>
                <p>{{ item.price * item.quantity }} ₴</p>
            </div>

            <div class="basket-card__controls">
                <button (click)="decrease(item.id)">-</button>
                <span class="qty">{{ item.quantity }}</span>
                <button (click)="increase(item.id)">+</button>

                <button class="delete-btn" (click)="remove(item.id)">
                    <mat-icon class="icon" svgIcon="delete"></mat-icon>
                </button>
            </div>

                <button class="buy-btn">
                    Купити
                </button>
        </div>
        }
    </div>
    }
</section>