.mat-mdc-menu-panel {
  background: yellow;
  border-radius: 12px;
  min-width: 200px;
  box-shadow: none;
}

.mat-mdc-menu-content {
  background: yellow;
  padding: 0;
}

.mat-mdc-menu-item {
  background: yellow;
  border: none;
  margin: 2px 0;
  border-radius: 8px;
  transition: 0.2s ease;
  color: black;

  mat-icon {
    color: black;
  }

  &:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: scale(0.97);
  }
}

// .mat-mdc-form-field {
//   &.default-input {
//     --mat-form-field-container-text-size: 12px;
//     --mdc-outlined-text-field-focus-outline-width: 4px;
//   }

//   &.yellow-input {
    
//   }
// }
