@if (product(); as product) {

<div class="about">
  <div class="about__layout">
    <div class="about__slider">
      @if (product.images?.length) {
      <app-about-slider [images]="product.images"></app-about-slider>
      }
    </div>

    <div class="about__info">
      <h1 class="about__name">{{ product.name }}</h1>
      <p class="about__description">{{ product.description }}</p>

      <div class="about__colors">
        <span>Колір: {{ product.color }}</span>

        <div class="about__colors-list">
          @for (relatedProduct of relatedProducts; track relatedProduct.id) {

          <div class="about__color-wrapper">
            <div
              class="about__color"
              [class.active]="relatedProduct.id === product.id"
              [style.background]="relatedProduct.cssColor"
              (click)="goToProduct(relatedProduct.id)"
            ></div>
          </div>

          }
        </div>
      </div>

      <div class="about__bottom">
        <span class="about__price">{{ product.price }} ₴</span>
        <button class="about__buy" (click)="goToBasket()">Купити</button>
      </div>

      <div class="about__guarantee">
        <mat-icon svgIcon="guarantee"></mat-icon>
        <span>Гарантія: {{ product.guarantee }}</span>
      </div>
    </div>
  </div>
</div>

}
