<header class="header">
    <div class="container header__content">

        <button class="header__menu-btn">
            <span class="header__menu-btn-line"></span>
            <span class="header__menu-btn-line"></span>
            <span class="header__menu-btn-line"></span>
        </button>

        <a class="header__logo" [routerLink]="AppRoutesConfig.Home">
            <img src="/assets/logo/logo.svg" alt="logo">
        </a>

        <div class="header__search">
            <input type="text" class="header__search-input" placeholder="Знайти товар...">
            <button class="header__search-btn">Знайти</button>
        </div>

        <div class="header__icons">

            <button class="header__btn cart" [routerLink]="AppRoutesConfig.Basket">
                <mat-icon class="icon" svgIcon="cart"></mat-icon>

                @if (basketCount() > 0) {
                    <span class="cart-badge">
                        {{ basketCount()}}
                    </span>
                }
            </button>

            <app-user-badge></app-user-badge>

        </div>

    </div>
</header>