<header class="header">
    <div class="container header__content">
                <button class="header__menu-btn">
                    <span class="header__menu-btn-line"></span>
                    <span class="header__menu-btn-line"></span>
                    <span class="header__menu-btn-line"></span>
                </button>
                        
                <div class="header__logo">
                    <img src="/assets/images/logo/logo.svg" alt="logo">
                </div>

        <div class="header__search">
            <input type="text" class="header__search-input" placeholder="Знайти товар...">
            <button class="header__search-btn">Знайти</button>
        </div>

        <div class="header__icons">
        <button class="header__icon cart"></button>
        <button class="header__icon user"></button>
        </div>
    </div>
</header>