:host {
  display: block;
}

.side-menu__social {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-title {
  font-weight: 600;
  color: black;
  margin-bottom: 6px;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  .icon {
    color: blue;
    width: 26px;
    height: 26px;
  }
}